beautifulsoup4==4.9.3
bs4==0.0.1
distlib==0.3.1
Django==3.0.6
django-cors-headers==3.3.0
djangorestframework==3.11.0
docker==5.0.0
Flask==2.0.0
joblib==1.0.1
neo4j==4.2.1
neotime==1.7.4
networkx==2.5
pandas==1.2.3
pathlib==1.0.1
pipenv==2020.11.15
py2neo==2021.1.1
requests==2.25.1
selenium==3.141.0
simplejson==3.17.2
tqdm==4.59.0

